
<app-header></app-header>
<app-menu></app-menu>

<div class="component">
    <div class="sub-header">
        <h6>Request Lines</h6>
    </div>

    <table class="table table-sm table-bordered">
        <thead class="thead-light">
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
        </thead>
        <tbody>
            <tr>
                <td>{{request.description}}</td>
                <td>{{request.status}}</td>
                <td>{{request.total | currency}}</td>
                <td>{{request.user != null ? request.user.username : ""}}</td>
            </tr>
        </tbody>
    </table>

    <table *ngIf="requestLines.length > 0" class="table table-sm table-bordered table-striped">
        <thead class="thead-light">
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Line Total</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let line of requestLines | sort:'quantity'">
                <td>{{line.product.name}}</td>
                <td>{{line.quantity}}</td>
                <td>{{line.product.price | currency}}</td>
                <td>{{line.quantity * line.product.price | currency}}</td>
                <td>
                    <button class="btn btn-link m-0 p-0" routerLink="/requestlines/edit/{{line.id}}">Edit</button>
                    <span> || </span>
                    <button class="btn btn-link m-0 p-0" (click)="remove(line)">Remove</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="requestLines.length == 0" class="alert alert-danger text-center" role="alert">
        No lines yet! Please add products to your request before submitting for review.
    </div>

    <div class="button-group">
        <button class="btn btn-sm btn-success" (click)="review()">Review</button>
        <button class="btn btn-sm btn-secondary" (click)="back()">Back</button>
        <button class="btn btn-sm btn-primary" (click)="add()">Add Line</button>
    </div>

</div>