
<app-header></app-header>
<app-menu></app-menu>

<div class="component">
    
    <div class="detail-table">
        
        <h6>New User</h6>
        
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label for="username" class="input-group-text fake-th">Username:</label>
            </div>
            <input id="username" name="username" class="form-control" [(ngModel)]="user.username" type="text" placeholder="janedoe1">
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label for="password" class="input-group-text fake-th">Password:</label>
            </div>
            <input id="password" class="form-control" [(ngModel)]="user.password" type="text" placeholder="(8-30 characters)">
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label class="input-group-text fake-th">Name:</label>
            </div>
            <input class="form-control" aria-label="First Name" [(ngModel)]="user.firstName" type="text" placeholder="First Name">
            <input class="form-control" aria-label="Last Name" [(ngModel)]="user.lastName" type="text" placeholder="Last Name">
        </div>
        <div class="form-row">
            <div class="input-group input-group-sm col mt-0">
                <div class="input-group-prepend">
                    <label for="userPhone" class="input-group-text fake-th">Phone:</label>
                </div>
                <input id="userPhone" class="form-control" [(ngModel)]="user.phone" type="tel" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="xxx-xxx-xxxx">
            </div>
            <div class="input-group input-group-sm col mt-0">
                <div class="input-group-prepend">
                    <label for="userEmail" class="input-group-text fake-th">Email:</label>
                </div>
                <input id="userEmail" class="form-control" [(ngModel)]="user.email" type="email" placeholder="example@gmail.com">
            </div>
        </div>
        <div class="inline-checkboxes">
            <div class="form-check form-check-inline user-checkbox user-checkbox-enabled">
                <input class="form-check-input" [(ngModel)]="user.isReviewer" type="checkbox" id="isReviewer" value="Reviewer">
                <label class="form-check-label" for="isReviewer">Reviewer</label>
            </div>
            <div class="form-check form-check-inline user-checkbox user-checkbox-enabled">
                <input class="form-check-input" [(ngModel)]="user.isAdmin" type="checkbox" id="isAdmin" value="Admin">
                <label class="form-check-label" for="isAdmin">Admin</label>
            </div>
        </div>
        <!-- <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label for="isReviewer" class="input-group-text fake-th">Reviewer:</label>
            </div>
            <input id="isReviewer" class="form-control" [(ngModel)]="user.isReviewer" type="text" disabled>
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label for="isAdmin" class="input-group-text fake-th">Admin:</label>
            </div>
            <input id="isAdmin" class="form-control" [(ngModel)]="user.isAdmin" type="text" disabled>
        </div> -->
    </div>

    <div class="button-group">
        <button class="btn btn-sm btn-primary" (click)="save()">Save</button>
        <button class="btn btn-sm btn-secondary" (click)="cancel()">Cancel</button>
    </div>

    <p>{{message}}</p>

</div>
