
<app-header></app-header>
<app-menu></app-menu>

<div class="component">

    <form class="detail-table">
        <h6>Edit Request Line</h6>

        <div class="input-group">
            <div class="input-group-prepend">
                <label for="productSelect" class="input-group-text fake-th">Product:</label>
            </div>
            <select class="custom-select" id="productSelect" name="productId" [(ngModel)]="requestLine.productId">
                <option *ngFor="let p of products | sort:'vendorId'" value="{{p.id}}">{{p.name}}</option>
            </select>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
                <label for="reqlineQuantity" class="input-group-text fake-th">Quantity:</label>
            </div>
            <input class="form-control" type="number" placeholder="1" [(ngModel)]="requestLine.quantity" name="quantity">
        </div>
    </form>

    <div class="button-group">
        <button class="btn btn-primary" (click)="save()">Save</button>
        <button class="btn btn-secondary" (click)="cancel()">Cancel</button>
    </div>

</div>