
<a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="{{menu.baseRoute}}" routerLinkActive="active" title="{{menu.tooltip}}">{{menu.display}}s</a>
<div class="dropdown-menu">
    <a class="dropdown-item" routerLink="{{menu.mainRoute}}">All {{menu.display}}s</a>
    <div *ngIf="menu.baseRoute == '/requests/'">
        <a class="dropdown-item" routerLink="/requests/forReview">Review Requests</a>
    </div>
    <a class="dropdown-item" routerLink="{{menu.baseRoute + 'create'}}">New {{menu.display}}</a>
</div>
