
<app-header></app-header>
<app-menu></app-menu>

<div class="component">

    <form class="detail-table">
        <h6>Request Detail</h6>

        <div class="form-row">
            <div class="input-group input-group-sm col my-0">
                <div class="input-group-prepend">
                    <label for="requestId" class="input-group-text fake-th">ID:</label>
                </div>
                <input id="requestId" name="id" type="number" class="form-control" [(ngModel)]="request.id" disabled>
            </div>
            <div class="input-group input-group-sm col-md-8 my-0">
                <div class="input-group-prepend">
                    <label for="requestUser" class="input-group-text fake-th">User:</label>
                </div>
                <input id="requestUser" name="user" type="text" class="form-control" value="{{request.user != null ? request.user.username : ''}}" disabled>
            </div>
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label for="requestDescription" class="input-group-text fake-th">Description:</label>
            </div>
            <input id="requestDescription" name="description" type="text" class="form-control" [(ngModel)]="request.description" disabled>
        </div>
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
                <label for="requestJustification" class="input-group-text fake-th">Justification:</label>
            </div>
            <input id="requestJustification" name="justification" type="text" class="form-control" [(ngModel)]="request.justification" disabled>
        </div>
        <div class="form-row">
            <div class="input-group input-group-sm col mt-0">
                <div class="input-group-prepend">
                    <label for="requestTotal" class="input-group-text fake-th">Total:</label>
                </div>
                <input id="requestTotal" name="total" type="text" class="form-control" value="{{request.total | currency}}" disabled>
            </div>
            <div class="input-group input-group-sm col-md-8 mt-0">
                <div class="input-group-prepend">
                    <label for="requestDelivery" class="input-group-text fake-th">Delivery Mode:</label>
                </div>
                <input id="requestDelivery" name="deliveryMode" type="text" class="form-control" [(ngModel)]="request.deliveryMode" disabled>
            </div>
        </div>
        <div class="form-row">
            <div class="input-group input-group-sm col-md-4 my-0 ml-0">
                <div class="input-group-prepend">
                    <label for="requestStatus" class="input-group-text fake-th">Status:</label>
                </div>
                <input id="requestStatus" name="status" type="text" class="form-control" [(ngModel)]="request.status" disabled>
            </div>
            <div class="input-group input-group-sm col-md-8 my-0" *ngIf="request.rejectionReason != null">
                <div class="input-group-prepend">
                    <label for="requestRejection" class="input-group-text fake-th">Rejection Reason:</label>
                </div>
                <input id="requestRejection" name="rejectionReason" type="text" class="form-control" [(ngModel)]="request.rejectionReason" disabled>
            </div>
        </div>
    </form>

    <div class="button-group">
        <button class="btn btn-sm btn-primary" (click)="edit()">Edit</button>
        <button class="btn btn-sm btn-secondary" (click)="back()">Back</button>
        <button class="btn btn-sm btn-danger" (click)="delete()">Delete</button>
    </div>

</div>